resources:
  {%- if mode == 'deployment' %}
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress_odoo.yaml
  - ingress_mailhog.yaml
  {%- elif mode == "initialize" %}
  - pvc.yaml
  - initialize.yaml
  {%- elif mode == "cleanup" %}
  - cleanup.yaml
  {%- endif %}

namespace: {{ namespace }}

namePrefix: "{{ build_name }}-"

labels:
  - pairs:
      runboat/build: "{{ build_name }}"
    includeSelectors: true
    includeTemplates: true

commonAnnotations:
  runboat/provider: "{{ source_info.provider }}"
  runboat/repository-id: "{{ source_info.repository_id }}"
  runboat/repository-url: "{{ source_info.repository_url if source_info.repository_url else '' }}"
  runboat/repository-full-name: "{{ source_info.repository_full_name if source_info.repository_full_name else '' }}"
  runboat/source-kind: "{{ source_info.source_kind }}"
  runboat/source-branch: "{{ source_info.source_branch if source_info.source_branch else '' }}"
  runboat/target-branch: "{{ source_info.target_branch }}"
  runboat/review-id: "{{ source_info.review_id if source_info.review_id else '' }}"
  runboat/commit-sha: "{{ source_info.commit_sha }}"
  runboat/clone-url: "{{ source_info.clone_url }}"

images:
  - name: odoo
    newName: "{{ image_name }}"
    newTag: "{{ image_tag }}"
  - name: mailhog
    newName: "mailhog/mailhog"
    newTag: "latest"

secretGenerator:
  - name: odoosecretenv
    literals:
      {%- for key, value in build_secret_env.items() %}
      - {{ key }}={{ value }}
      {%- endfor %}

configMapGenerator:
  - name: odooenv
    literals:
      - PGDATABASE={{ build_name }}
      - ADDONS_DIR=/mnt/data/odoo-addons-dir
      - RUNBOAT_GIT_REPO={{ source_info.repository_id }}
      - RUNBOAT_GIT_REF={{ source_info.commit_sha }}
      - RUNBOAT_GIT_CLONE_URL={{ source_info.clone_url }}
      {%- for key, value in build_env.items() %}
      - {{ key }}={{ value }}
      {%- endfor %}
  - name: runboat-scripts
    files:
      - runboat-clone-and-install.sh
      - runboat-initialize.sh
      - runboat-cleanup.sh
      - runboat-start.sh

generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      kind: PersistentVolumeClaim
      name: data
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: {{ build_template_vars["storageClassName"] }}
  - target:
      kind: Ingress
      name: odoo
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: {{ build_slug }}.{{ build_domain }}
  - target:
      kind: Ingress
      name: mailhog
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: {{ build_slug }}.mail.{{ build_domain }}
